@model Booking.Web.Models.CityIndexViewModel

@{
    ViewData["Title"] = "City";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <h2 class="text_action"> Town List</h2>
        </div>
        <div class="col-4">
            <form method="get" >
                <div class="input-group mb-3">
                    <label class="input-group-text" for="selectCountry">Country</label>
                    <select class="form-select" id="selectCountry" asp-for="@Model.CountryFilterApplied"
                            asp-items="@Model.Countries" onchange="this.form.submit()"></select>                    
                </div>
            </form>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-primary" asp-action="Create">
                <i class="bi bi-file-earmark-plus"></i> &nbsp; Create new
            </a>
        </div>
    </div>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Country
                </th>
                <th>
                    Town
                </th>
                <th width="170px">
                    Modification
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cities)
            {
                <tr>
                    <td>
                        @item.CountryName
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td align="left">
                        <div>
                            <a asp-controller="City" asp-action="Edit" asp-route-id="@item.Id"
                           class="btn btn-secondary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                                Edit
                            </a>
                            <a asp-controller="City" asp-action="Delete" asp-route-id="@item.Id"
                           class="btn btn-secondary btn-sm">
                                <i class="bi bi-trash"></i>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>