@model Booking.Web.Models.CityIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<section>
    <div>
        <form method="get">
            <label data-title = "country">
                <select asp-for="@Model.CountryFilterApplied" asp-items="@Model.Countries"></select>
            </label>
            <input type="submit" value="Apply Filters"/>
        </form>
    </div>
</section>
<div class="container">
    @if (Model.Cities.Any())
    {
            <div class="row">
            @foreach (var catalogItem in Model.Cities)
            {
                        <div>
                            <span>@catalogItem.Name</span>
                        </div>
            }
            </div>
    }
</div>


@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryFilterApplied)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryFilterApplied)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@