@model Booking.Web.Models.ReservationViewModel

@{
    ViewData["Title"] = "Create";   
}

<div class="container">
    <div class="row">
        <h2>@Model.ApartmentName</h2>
        <div class="col-8">
            @Model.ApartmentDescription
        </div>
        <div class="col-4">
            <img style="border-radius:10px; border:1px solid #ddd" width="400px" src=@Model.ApartmentPicture />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="apartmentId" value="@(Model.ApartmentId)" />
                <input type="hidden" name="apartmentName" value="@(Model.ApartmentName)" />
                <input type="hidden" name="apartmentDescription" value="@(Model.ApartmentDescription)" />
                <input type="hidden" name="apartmentPicture" value="@(Model.ApartmentPicture)" />                
                <input type="hidden" name="price" value="@(Model.Price)" />
                <div class="col-12">
                    <div class="input-group mt-3 mb-3">
                        <span class="input-group-text w-10" id="input-price">Price</span>
                        <input asp-for="Price" disabled class="form-control" aria-describedby="input-price">
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text w-10" id="input-name">Name</span>
                        <input asp-for="Name" class="form-control" aria-describedby="input-name"
                            placeholder="Enter your name">                        
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text w-10" id="input-email">Email</span>
                        <input asp-for="Email" class="form-control" aria-describedby="input-email"
                            placeholder="Enter your email">                        
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text w-10" id="arrivalDate">Check in</span>
                        <input type="date" asp-for="ArrivalDateS" class="form-control datepicker"
                            aria-describedby="arrivalDate" />                        
                    </div>     
                    <div class="mb-3">
                        <span asp-validation-for="ArrivalDateS" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text w-10" id="departureDate">Check out</span>
                        <input type="date" asp-for="DepartureDateS" class="form-control datepicker"
                               aria-describedby="departureDate" />                        
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="DepartureDateS" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 150px;">Create</button>
                <a asp-controller=Apartment asp-action="Index" class="btn btn-outline-primary" style="width:150px">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>
@section Scripts {   
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
