@model IEnumerable<Booking.Web.Models.ReservationViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="col-6">
    <h2 class="text_action">Current reservations list</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Client's name
            </th>
            <th>
                Client's email
            </th>
            <th>
                Check in
            </th>
            <th>
                Ckeck out
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutInfo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @*@Html.ActionLink("Delete", "Delete", new {  id=item.Id })*@
                <a asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.Id"
                class="btn btn-secondary btn-sm">
                    <i class="bi bi-trash"></i>
                    Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
