@model Booking.Web.Models.ApartmentIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Available apartments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Picture
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apartments) {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width:500px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <img style="border-radius:10px; border:1px solid #ddd" width="150px"
                     src="@Html.DisplayFor(modelItem => item.Picture)" />
                @*@Html.DisplayFor(modelItem => item.Picture)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id  })
            </td>



        </tr>
        }

        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.CurrentPage - 1)"
           class="btn btn-outline-dark btn-sm">
                   <i class="bi bi-skip-backward-fill"></i>
                    Назад
            </a>
       } 
        @if (Model.PageViewModel.HasNextPage)
        {
             <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.CurrentPage + 1)"
               class="btn btn-outline-dark btn-sm">
                Вперед
                <i class="bi bi-skip-forward-fill"></i>
            </a>
        }

    </tbody>
</table>
